    .main {
        background-image: linear-gradient(to right, pink, purple);
        background-size: cover;
    }
    
    div.text-box {
        width: 400px;
        height: 400px;
        color: white;
        position: relative;
        margin: 6% auto;
        padding: 5px;
    }
    
    .para h1 {
        text-align: center;
        color: white;
        border-bottom: 7px solid black;
        width: 70px;
        border-radius: 10px;
        font-size: 40px;
        position: relative;
        left: 700px;
        bottom: 420px;
        font-family: 'Fondamento', cursive;
    }
    
    input.text-box {
        border-bottom: 4px solid #221f3b;
        border-radius: 10px;
        height: 30px;
        background: none;
        border-left: none;
        border-right: none;
        border-top: none;
    }
    
    a:button {
        font-size: 30px;
        text-align: center
    }
    
     ::placeholder {
        color: white;
        font-family: 'Shrikhand', cursive;
    }
    
    span.material-icons {
        font-size: 25px;
        color: deepskyblue;
    }
    
    .button {
        width: 250px;
        border: 4px solid coral;
        padding: 5px;
        border-radius: 20px;
        cursor: pointer;
        text-shadow: 3px, 3px, 5px grey;
        font-weight: bold;
        font-family: 'Shrikhand', cursive;
    }
    
    button:hover {
        border: 4px solid #900d0d;
        transition: 1.5s;
    }
    
    a:link {
        text-decoration: none;
    }
    
    h1.index2 {
        font-family: 'lobster', cursive;
        font-size: 100px;
        color: white;
        text-decoration: underline;
    }
    
    img.thanks {
        height: 200px;
        background: transparent;
        width: 400px;
        position: relative;
        bottom: 200px;
    }
    
    #gauti {
        background-color: #2bb2bb;
    }
    
    img.gug {
        width: 30px;
        position: relative;
        left: 650px;
        bottom: 150px;
        border-radius: 20px;
    }
    
    img.fcb {
        width: 30px;
        position: relative;
        left: 700px;
        bottom: 185px;
    }
    
    h4 {
        text-align: center;
        margin: 20, 20, 20, 10px;
        position: relative;
        bottom: 150px;
        right: 80px;
        color: white;
    }
